.home-container {
  display: flex;
  width: 100%;
  height: 89vh;
  /* border: 1px solid black; */
}

.home-left {
  width: 70%;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-right {
  width: 30%;
}

.home-logo {
  height: 75%;
  width: auto;
  object-fit: contain;
}
